@import "bootstrap";

.kanban-board {
  display: flex;
  justify-content: space-between;
}

.kanban-title {
  margin-bottom: 1em;
}

.kanban-column ul{
  list-style: none;
  padding: 0;

  li {
    padding: 0.5em 0;
  }
}

.footer-links {
  position: absolute;
  bottom: 1em;
}